<h1>Bahr</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to the #Bahr! Click on the link below to activate your account you fkboi:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>