<footer class="footer">
  <small>
    #Bahr
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.youtube.com/watch?v=MTaXycfopwQ">Nature..</a></li>
    </ul>
  </nav>
</footer>